@model  TestingDemo.Models.UserViewModel 
@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddNewUser</h2>

<p>@Model.FirstName</p>
<p>@Model.Surname</p>
<p>@Model.DateOfBirth</p>
<p>@Model.Age</p>
<p>@Model.RoleType</p>

